@import "../styles.css";
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 85%;
    margin-right: 5%;
}
button{
    float: right;
    margin-left: 1%;
}